@tailwind base;
@tailwind components;
@tailwind utilities;

.storybook-input {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 1px solid;
}
.storybook-input--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-input--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-input--large {
  font-size: 16px;
  padding: 12px 24px;
}
